@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src = "/Images/welcomeBanner.jpg" alt="A welcome banner made of post it notes." />
    <h5>To Michael's Blogs</h5>
    <p>This is my Blog site that I created as a project for my school We Can Code IT</p>
</div>
